.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;

  button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: var(--white);
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
